<div class="text text-right">
    Sort:
    <a href="/?order=name"><span class="label label-primary">by name</span></a>
    <a href="/?order=name_DESC"><span class="label label-primary">by name descending</span></a>
    <a href="/?order=price"><span class="label label-primary">by price</span></a>
    <a href="/?order=price_DESC"><span class="label label-primary">by price descending</span></a>

    <hr>
</div>
<?php foreach ($this->products as $index => $product) : ?>
<?php if ( ($index) % 3 == 0 || $index == 0  ) : ?><div class="row"><?php endif; ?>
    <div class="col-md-4">
        <div class="well" style="position: relative ;margin-right: 5px; border: 1px solid gray; min-height: 400px !important;">
            <div class="row">
                <div class="col-md-7">
                    <h5><?php echo $product['name'] ?></h5>
                    <h6 class="text-primary">$<?php echo round ($product['price'], 2 ) ?></h6>
                </div>
                
                <div class="col-md-5">
                    <img src="<?php echo $product['image'] ?>" width="100%">
                </div>
            </div>
            
            <h6 class="text-muted"><?php echo substr($product['description'], 0, 400) ?></h6>
            <div style="position: absolute;bottom: 15px">
                <hr>
                <div class="text-right">
                    <a class="btn btn-default" href="/shop/details/product/<?php echo$product['ID'] ?>">Details</a>
                </div>
            </div>
        </div>
    </div>
<?php if (($index + 1) % 3 == 0 || ( ($index + 1 ) == count($this->products)) )  : ?></div><br> <?php endif; ?>
<?php endforeach; ?>