<ul class="list-group">
    <?php foreach ($this->orders as $order) : ?>
        <li class="list-group-item">
            <?php echo $order['productName'] ?>
            <div class="text-right">
                <i>Added: <?php echo $order['created'] ?> </i>
                <br>
                <a href="/shop/details/product/<?php echo $order['product'] ?>">View</a>
                <a href="/shop/cancel-order/order/<?php echo $order['ID'] ?>"
                onclick="confirm('Are you really sure?')">
                    &nbsp;&nbsp;<span class="label label-danger">Delete</span>
                </a>
            </div>
        </li>
    <?php endforeach; ?>
</ul>
<form action="/shop/confirm-payment" method="post">
    <div class="text-right">
        <button class="btn btn-success btn-large">Go to payment</button>
    </div>
</form>
