<?php if ($this->generalError) : ?>
    <div class="alert alert-danger" role="alert"><?php echo $this->generalError; ?></div>
<?php endif; ?>

<ul class="list-group">
    <?php foreach ($this->orders as $order) : ?>
        <li class="list-group-item <?php if (@$order['notAvailable']) echo 'list-group-item-danger' ?>">
            <?php echo $order['productName'] ?>
            <br><?php if (@$order['notAvailable']) { echo 'NOT AVAILABLE'; } else { echo '$'.$order['price']; } ?>
            <div class="text-right"><a href="/shop/details/product/<?php echo $order['product'] ?>">View</a></div>
        </li>
    <?php endforeach; ?>
</ul>

<div class="text-center">
    <h3 class="text-primary">Total: $<?php echo $this->total ?></h3>
</div>

<form action="/shop/confirm" method="post">
    <div class="text-right">
        <input type="hidden" name="amount" value="<?php echo $this->total ?>">
        <button class="btn btn-success btn-large">Confirm payment</button>
    </div>
</form>

