<h1><?php echo $this->product['name'] ?></h1>
<div class="well">
    <form action="/shop/add-to-cart">

        <div class="row">
            <div class="col-md-4">
                <img src="<?php echo $this->product['image'] ?>" width="100%">
            </div>
            <h3>Price: <span class="text-primary">$<?php echo $this->product['price'] ?></span></h3>
            <h5>Added: <?php echo $this->product['added'] ?></h5>
            <h5>Quantity: <?php echo $this->product['count'] ?></h5>
            <div class="col-md-6"><?php echo $this->product['description'] ?></div>
        </div>

        <input type="hidden" name="product" value="<?php echo $this->product['ID'] ?>">
        <div class="text-right">
            <button class="btn btn-success btn-large">Add to cart</button>
        </div>
    </form>
</div>
