<ul class="list-group">
    <?php foreach ($this->orders as $order) : ?>
        <li class="list-group-item">
            <?php echo $order['productName'] ?>
            <div class="text-right"><a href="/shop/details/product/<?php echo $order['product'] ?>">View</a></div>
        </li>
    <?php endforeach; ?>
</ul>