<?php
  $email = false;

  if ( Zend_Auth::getInstance()->hasIdentity() ) {
    $email = Zend_Auth::getInstance()->getIdentity()->email;
    $users = new Application_Model_Users();
    $user = $users->fetchRow(
        $users->select()->where('email = ?', $email)
    );
  }
?>


<?php echo $this->doctype(); ?>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <?php echo $this->headTitle('Test APP') ?>

    <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0'), "\r\n"; ?>

    <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => '/images/favicon.ico'))
                    ->appendStylesheet('/css/bootstrap.min.css'); ?>
    
    
    <?php echo $this->headStyle()->appendStyle("\tbody {\r\n\t\tpadding-top: 60px;\r\n\t\tpadding-bottom: 40px;\r\n\t}"); ?>
    

    <?php echo $this->headScript()->appendFile('/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',)); ?>


    <link rel="author" href="humans.txt" />
  </head>

  <body>

    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Test APP</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/shop/categories/category/5">Phones</a></li>
            <li><a href="/shop/categories/category/7">Laptops</a></li>
            <li><a href="/shop/categories/category/6">Tablets</a></li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <?php if (!$email) :  ?>
            <li><a href="/user/register">Sign Up</a></li>
            <li><a href="/user/login">Sign In</a></li>
            <?php endif; ?>
            <?php if ($email) :  ?>
            <li><a href="/shop/cart">Cart</a></li>
            <li><a href="/user/balance">$<?php echo (float)$user['balance'] ?></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><?php echo "$email" ?> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Settings</a></li>
                <?php if ($user['role'] >= 3) : ?>
                <li><a href="/admin">Admin Panel</a></li>
                <?php endif; ?>
                <li role="separator" class="divider"></li>
                <li><a href="/user/logout">Logout</a></li>
              </ul>
            </li>
            <?php endif; ?>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <?php echo $this->layout()->errorMessage ?>

    <div class="container" style="margin-top: 50px">

      <div class="alert alert-danger" id="errorbox" style="display: none;"></div>

      <?php echo $this->layout()->content; ?>

    </div> <!-- /container -->

    <?php echo $this->inlineScript()
            ->appendFile('/js/jquery-1.8.3.min.js')
            ->appendFile('/js/bootstrap.min.js')
            ->appendFile('/js/script.js');
    echo "\r\n"; ?>

  </body>
</html>