<h2>Add money to your account</h2>
<form action="/user/balance" method="post">
    <input type="number" name="balance" class="form-control form-control-static" placeholder="Funds">
    <br>
    <div class="text-right">
        <button class="btn btn-default">Add</button>
    </div>
</form>