<div class="row">
    <div class="col-md-offset-3 col-md-6 well">
        <h4 class="text-primary">Login form</h4>
        <form action="/user/login" method="post" class="form-group" id="login_form">
            <input type="email" class="form-control" placeholder="Email" name="email">
            <br>
            <input type="password" class="form-control" placeholder="Password" name="password">
            <br>
            <div class="text-right"><button class="btn btn-primary">Sign in</button></div>
        </form>
    </div>
</div>


