<div class="row">
    <div class="col-md-offset-3 col-md-6 well">
        <h4 class="text-primary">Register form</h4>
            <form action="/user/register" method="post" class="form-group" name="f_register" id="register_form">
                <input type="email" class="form-control" placeholder="Email" name="email">
                <br>
                <input type="text" class="form-control" placeholder="Login" name="login">
                <br>
                <input type="text" class="form-control" placeholder="Phone number" name="phone">
                <br>
                <input type="password" class="form-control" placeholder="Password" name="password">
                <br>
                <input type="password" class="form-control" placeholder="Confirm password" name="confirm">
                <br>
                <div class="text-right"><button class="btn btn-primary">Register</button></div>
            </form>
        </div>
    </div>
</div>












