<div class="row">
    <div class="col-md-4">
        <div class="well">
            <h3>Product actions</h3>
            <ul>
                <li><a href="/admin/new-category">Create category</a></li>
                <li><a href="/admin/new-product">Create product</a></li>
                <li><a href="/admin/product-list">Products list</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-4">
        <div class="well">
            <h3>Order actions</h3>
            <li><a href="/admin/orders">All orders</a></li>
            <li><a href="/admin/orders/type/success">Success orders</a></li>
            <li><a href="/admin/orders/type/waiting">Waiting orders</a></li>
            <li><a href="/admin/orders/type/failed">Failed orders</a></li>
        </div>
    </div>

    <div class="col-md-4">
        <div class="well">
            <h3>User actions</h3>
            <li><a href="/admin/users-list">Users list</a></li>
        </div>
    </div>
</div>
