<form action="/admin/new-category" method="post">
    <h5>Create new category</h5>
    <input type="text" class="form-control" name="name" placeholder="Name">
    <select name="parent" class="form-control">
        <option value="0">-- Select parent category --</option>
        <?php foreach ($this->categories as $category) : ?>
            <option value="<?php echo $category['ID'] ?>"><?php echo $category['name'] ?></option>
        <?php endforeach; ?>
    </select>

    <div class="text-right">
        <button class="btn btn-default">Create</button>
    </div>
</form>