<form action="/admin/new-product" method="post" enctype="multipart/form-data">
    <h5>Create new product</h5>
    <input type="hidden" name="ID" value="<?php echo @$this->product['ID'] ?>">
    <input type="hidden" name="user" value="<?php echo @$this->product['user'] ? $this->product['user'] : $this->currentUser['ID'] ?>">
    <input type="text" class="form-control" name="name" placeholder="Name" value="<?php echo @$this->product['name'] ?>">
    <textarea class="form-control" name="description" placeholder="Description" rows="10"><?php echo @$this->product['description'] ?></textarea>
    <input type="text" class="form-control" name="price" placeholder="Price" value="<?php echo @$this->product['price'] ?>">
    <input type="file" class="form-control" name="image" placeholder="Image">
    <input type="text" class="form-control" name="count" placeholder="Count" value="<?php echo @$this->product['count'] ?>" >
    <select name="category" class="form-control">
        <option value="0">-- Select category --</option>
        <?php foreach ($this->categories as $category) : ?>
            <option value="<?php echo $category['ID'] ?>" value="<?php if ($category['ID'] == @$this->product['category']) echo "selected" ?>"><?php echo $category['name'] ?></option>
        <?php endforeach; ?>
    </select>

    <div class="text-right">
        <button class="btn btn-default">Create</button>
    </div>
</form>