<table class="table">
    <tr>
        <th>#</th>
        <th>Date</th>
        <th>User</th>
        <th>Product</th>
        <th>Status</th>
    </tr>

    <?php foreach ($this->orders as $order) : ?>
    <tr>
        <td><?php echo $order['ID'] ?></td>
        <td><?php echo $order['created'] ?></td>
        <td><?php echo @$order['userEmail'] ?></td>
        <td><a href="/shop/details/product/<?php echo $order['product'] ?>"></a><?php echo $order['productName'] ?></td>
        <td><?php echo $order['status'] ?></td>
    </tr>
    <?php endforeach; ?>
</table>