<table class="table table-stripped">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Created By</th>
        <th>Count</th>
        <th>Actions</th>
    </tr>

    <?php foreach ($this->products as $product) : ?>
        <tr>
            <td><?php echo $product['ID'] ?></td>
            <td><?php echo @$product['name'] ?></td>
            <td><?php echo @$product['createdBy'] ?></td>
            <td><?php echo $product['count'] ?></td>
            <td>
                <a href="/admin/new-product/product/<?php echo $product['ID'] ?>">Edit</a>
                <a onclick="confirm('Are you sure?')" href="/admin/delete-product/product/<?php echo $product['ID'] ?>">Delete</a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>
