<table class="table table-stripped">
    <tr>
        <th>#</th>
        <th>Login</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>IP-address</th>
    </tr>

    <?php foreach ($this->users as $user) : ?>
        <tr>
            <td><?php echo $user['ID'] ?></td>
            <td><?php echo $user['login'] ?></td>
            <td><?php echo $user['email'] ?></td>
            <td><?php echo $user['phone'] ?></td>
            <td><?php echo $user['ip'] ?></td>
        </tr>
    <?php endforeach; ?>
</table>
